<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1 style="color:green; font-weight: bold">
      {{title}}
    </h1>
      <button class="btn btn-info" (click)="getRandomGraph()">Update Dashboard</button>
    
    <div class="dashboard-row"> 
    <div class="col-md-6">
        <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
      </div>
    <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>State(s)</th>
              <th>Male Litracy Rate(%)</th>
              <th>Female Litracy Rate(%)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of litracyRateTableData">
              <td>{{item.state}}</td>
              <td>{{item.maleLitracyRate | number : '1.0-0'}}</td>
              <td>{{item.femaleLitracyRate | number : '1.0-0'}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="dashboard-row">
    <div class="col-md-6">
      <div>
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"></canvas>
      </div>
    </div>
  
    <div class="col-md-6">
        <div>
          <canvas baseChart
                  [datasets]="radarChartData"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType"></canvas>
        </div>
    </div>  
  </div>
  </div>
  
  